<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    default-lazy-init="true"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!--
        Import common bean definitions.
    -->
    <import resource="classpath:common-beans.xml"/>
    
    <!--
        Import eduGAIN beans.
    -->
    <import resource="classpath:int_edugain/beans.xml"/>
    
    <!--
        Pipeline bean used to acquire metadata for service.
    -->
    <bean parent="SimplePipeline" id="metadataSourcePipeline" lazy-init="false">
        <property name="stages">
            <list>
                <ref bean="int_edugain_productionEntities"/>
            </list>
        </property>
    </bean>

    <!--
        Metadata lookup service.
    -->
    <bean parent="component_parent" class="uk.org.iay.mdq.server.MetadataService"
        id="metadataService" lazy-init="false"/>

</beans>
