/* Disable the skin's link images for http and https links. */

a.externalLink[href^=http] {
    background: none;
    padding-right: 0px
}

a.externalLink[href^=https] {
    background: none;
    padding-right: 0px
}
